
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMoodLabel">Create or edit a Mood</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.mood.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.mood.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.mood.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_active">Active</label>
                <input type="checkbox" name="active" id="field_active"
                          ng-model="vm.mood.active"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_audioVolume">Audio Volume</label>
            <input type="number" class="form-control" name="audioVolume" id="field_audioVolume"
                    ng-model="vm.mood.audioVolume"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_brightness">Brightness</label>
            <input type="number" class="form-control" name="brightness" id="field_brightness"
                    ng-model="vm.mood.brightness"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_shutterHeight">Shutter Height</label>
            <input type="number" class="form-control" name="shutterHeight" id="field_shutterHeight"
                    ng-model="vm.mood.shutterHeight"
                    />
        </div>

        <div class="form-group">
            <label for="field_deviceInState">Device In State</label>
            <select class="form-control" id="field_deviceInState" multiple name="deviceInState" ng-model="vm.mood.deviceInStates" ng-options="deviceInState as deviceInState.id for deviceInState in vm.deviceinstates track by deviceInState.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
